canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.dg {
  z-index: 99 !important;
}

/**
 * dat-gui JavaScript Controller Library
 * http://code.google.com/p/dat-gui
 *
 * Override dat.gui definitions for Chrome and Safari
 * dat.gui/src/dat/gui/_structure.scss
 *
 */
.dg .slider {
  width: 60%!important;
}
